.seccion {
    
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.seccion-reverse{
  flex-direction: row-reverse;
}


.sobre-mi__texto{
    padding: 2rem;
    text-align: center;
    width: 80%;
    
   
}
.sobre-mi__titulo{
    font-family: var(--fuente-firma);
    font-size: clamp(7rem,0.5vw,3rem);
   
}

.sobre-mi__subtitulo{
  font-size: 2rem;
  
}

.sobre-mi__imagen {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 70%;
    animation: zoomIn 2s linear;
   
  }

.sobre-mi__foto {
    width: 100%;
    height: auto;
  }


.sobre-mi__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    transform-origin: right;
    animation: reveal 0.8s linear;
    border-left: 50px solid var(--primary-color); /* Cambia el grosor y el color según tus preferencias */
    box-sizing: border-box;
  }



  
  @keyframes reveal {
    0% {
        transform: scaleX(1);
        
    }
    50% {
        border-left-width: 300px; /* Grosor máximo */
    }
    100% {
        transform: scaleX(0);
        border-left-width: 20px; /* Grosor de reducción */
    }
}
  
@keyframes zoomIn {
    0% {
       width: 50%;
    }
    100% {
        width: 100%;
    }
}

.sobre-mi__imagen.zoom-done {
  animation: none;
  width: 100%;
}
  .sobre-mi__overlay.reveal-done {
    animation: none;
    transform: scaleX(0); /* Asegurarse de que el overlay permanezca invisible después de la animación */
  }
 
 
  .seccion:hover .sobre-mi__overlay {
    animation: reveal 0.8s linear;
  }

  .seccion:hover .sobre-mi__imagen {
    animation: zoomIn 1.2s linear;
  }

  @media screen and (max-width: 1024px)  {
   .seccion{
    height: auto;
    flex-direction: column;
    
   }
   .sobre-mi__texto{
    
    
    
   
}
}
